.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  height: 10vh;
  z-index: 10000000;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-button {
  margin-right: 5%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #0056b3;
}
